* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
}

html {
	-webkit-text-size-adjust: 100%;
	font-size: 100%;
}

body {
	font: normal normal normal 16px/1.5 Verdana, sans-serif;
	background: #1a1a1a url('../img/black_denim.png') repeat scroll top center;
	color: #666;
	padding-top: 8em
}

header {
	
}

footer {
	margin-top: 3em;
	padding: 2em 0;
}

ol, ul, li { list-style-type: none;}

nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 6em;
	padding: 0 10%;
	background-color: #000;
}

nav a#logo { padding: 1.5em 0; height: 3em; display: inline-block}
nav div#login { position: absolute; top: 0; right: 10%; padding: 1.5em 0; }

div#content { margin: 0 10%;}

h1, h2, h3, h4, h5, h6 {
	font-size: 150%;
	line-height: 1;
	text-transform: uppercase;
	margin-bottom: 1em;
}

h1 {
	color: #eee;
	border-bottom: 2px solid #003b4f;
}

a {
	color: #fff;
}

.topics { border-top: 1px dotted #333; }
.topics li { padding: 1em 0 1em 2em; border-bottom: 1px dotted #333; }
.topics .meta { font-size: 75%; margin-top: 0.5em }
.topics .meta a { color: #999 }

.reply form { padding: 1em; }

.posts li { margin-bottom: 2em; }
.posts .post_author { overflow: hidden;}
.posts .post_author a { display: inline-block; padding-right: 1em; }
.posts .post_author a img { width: 2em; height: 2em; margin: 0.5em 1em 0.5em 0; display: inline-block; vertical-align: middle }
.posts .post_content { padding: 1em 0; }

p#indie_bastards,
p#blurb { font-size: 75%; text-align: center}

