/* FONTS */

@font-face {font-family:'MuseoSlab-500'; src:url('../fonts/museo-slab/243BC4_0_0.eot'); src:url('../fonts/museo-slab/243BC4_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/museo-slab/243BC4_0_0.woff') format('woff'),url('../fonts/museo-slab/243BC4_0_0.ttf') format('truetype')}

@font-face {font-family:'MuseoSlab-500Italic'; src:url('../fonts/museo-slab/243BC4_1_0.eot'); src:url('../fonts/museo-slab/243BC4_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/museo-slab/243BC4_1_0.woff') format('woff'),url('../fonts/museo-slab/243BC4_1_0.ttf') format('truetype')}


/* COMMON & LAYOUT */

* {margin:0; padding:0; text-decoration:none; text-transform:none; font-weight:normal; font-style:normal}

html {-webkit-text-size-adjust:100%; font-size:100%}

body {font:normal normal normal 16px/1.5 'MuseoSlab-500',serif; background:#1a1a1a url('../img/black_denim.png') repeat scroll top center; color:#666; padding-top: 4em}

ol,ul,li {list-style-type:none}

h1,h2,h3,h4,h5,h6 {font-size:150%; line-height:1; text-transform:uppercase; margin-bottom:1em}

h1 {color:#eee; border-bottom:2px solid #003b4f}

a {color:#fff}

a:hover {text-decoration:underline}

header {}

footer {margin-top:3em; padding:2em 0}

footer p {font-size:75%; text-align:center}

footer p a:before {margin-right:0.5em; white-space:no-wrap}

nav { position: fixed; top: 0; left: 5%; right: 5%; width: auto; background-color: #000; color: #fff}
nav .menu { cursor: pointer; text-transform: uppercase; display:block; padding: 0.5em}
nav .menu i { margin-right: 0.5em;}

nav #nav-wrapper { display:none; }
nav:hover { width: auto; height: auto;}
nav:hover #nav-wrapper {display: block}
nav ul.icons a { display: block; padding: 0.5em 0 0.5em 0.5em}
nav ul.icons a:hover {text-decoration: none; background-color: #003b4f; color: #fff}
nav ul.icons a i { margin-right: 0.5em}

nav input[type="search"] { width: 20em; }

div#content {margin:0 5%}

.controls {margin-bottom:1em}

a.button {display:inline-block; line-height:1; padding:0.6667em 0.75em 0.3333em; background-color:#333; color:#fff; border-radius:0.5em}

a.button:before {margin-right:0.5em}

a.button:hover {text-decoration:none; background-color:#444}


/* FORMS */

button,
input {font:normal normal normal 16px/1.5 'MuseoSlab-500',serif; background-color:#fff; border:none; padding:0.25em; max-width:100%; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; appearance:none}

button,
input[type="button"],
input[type="submit"] {background-color:#333; color:#fff; border-radius:0.5em; line-height:1; padding:0.6667em 0.75em 0.3333em; text-transform:capitalize; cursor:pointer}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {background-color:#444}

textarea {font:normal normal normal 16px/1.5 'MuseoSlab-500',serif; max-width:100%}

div.field {margin-bottom:1em}

div.field label {display:block}

span.form_error {display:block; color:#f00}


/* FORUMS */

.topics {border-top:1px dotted #333}

.topics li {padding:1em 0 1em; border-bottom:1px dotted #333}

.topics .meta {font-size:75%; margin-top:0.5em}

.topics .meta a {color:#999}

.topic.id .vevent {margin-bottom:1em; padding-bottom:1em; border-bottom:2px solid #003b4f}

.topic.id .vevent dd {margin-bottom:0.5em; color:#ccc}

.posts li {margin-bottom:2em}

.posts .post_author {overflow:hidden; padding-left:4em}

.posts .post_author a {}

.posts .post_author a img {margin-left:-4em; float:left}

.posts .post_author time {display:block}

.posts .post_content {padding:1em 0}


/* PRIVATE MESSAGES */

.messages li {padding-left:4em; margin-bottom:1em; overflow:hidden}

.messages .avatar {margin-left:-4em; float:left}


/* GIGS */

.calendar h2 {margin:1em 0; padding-top:1em; border-top:1px solid #333}

.calendar .vevent {margin-bottom:1em}

