/* FONTS */

@font-face {font-family:'MuseoSlab-500'; src:url('../fonts/museo-slab/243BC4_0_0.eot'); src:url('../fonts/museo-slab/243BC4_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/museo-slab/243BC4_0_0.woff') format('woff'),url('../fonts/museo-slab/243BC4_0_0.ttf') format('truetype')}

@font-face {font-family:'MuseoSlab-500Italic'; src:url('../fonts/museo-slab/243BC4_1_0.eot'); src:url('../fonts/museo-slab/243BC4_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/museo-slab/243BC4_1_0.woff') format('woff'),url('../fonts/museo-slab/243BC4_1_0.ttf') format('truetype')}


/* COMMON & LAYOUT */

* {margin:0; padding:0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-decoration:none; text-transform:none; font-weight:normal; font-style:normal}

html {-webkit-text-size-adjust:100%; font-size:100%}

body {font:normal normal normal 16px/1.5 'MuseoSlab-500',serif; background:#1a1a1a url('../img/black_denim.png') repeat scroll top center; color:#666; padding-top: 4em}

ol,ul,li {list-style-type:none}

h1,h2,h3,h4,h5,h6 {font-size:150%; line-height:1; text-transform:uppercase; margin-bottom:1em}

h1 {color:#eee; border-bottom:2px solid #003b4f}

a {color:#fff}

a:hover {text-decoration:underline}

header {}

footer {margin-top:3em; padding:2em 0}

footer p {font-size:75%; text-align:center}

footer p a:before {margin-right:0.5em; white-space:no-wrap}

nav { position: fixed; top: 0; left: 5%; right: 5%; width: auto; background-color: rgba(0,0,0,0.9); color: #fff}
nav .menu { cursor: pointer; text-transform: uppercase; display:block; padding: 0.5em}
nav .menu i { margin-right: 0.5em;}

nav #nav-wrapper { display:none; }
/* nav:hover { width: auto; height: auto;} */
/* nav:hover #nav-wrapper {display: block} */
nav ul.icons a { display: block; padding: 0.5em 0 0.5em 0.5em}
nav ul.icons a:hover {text-decoration: none; background-color: #003b4f; color: #fff}
nav ul.icons a i { margin-right: 0.5em}

nav input[type="search"] { width: 16em; margin: 1em 0 1em 1em; }

div#content {margin:0 5%}

.controls {margin-bottom:1em}

a.button {display:inline-block; line-height:1; padding:0.6667em 0.75em 0.3333em; background-color:#333; color:#fff; border-radius:0.5em}

a.button:before {margin-right:0.5em}

a.button:hover {text-decoration:none; background-color:#444}


/* FORMS */

button,
input {font:normal normal normal 1em/1.5 'MuseoSlab-500',serif; background-color:#fff; border:none; padding:0.25em; max-width:100%;}

button,
input[type="button"],
input[type="submit"] {background-color:#333; color:#fff; border-radius:0.5em; line-height:1; padding:0.6667em 0.75em 0.3333em; text-transform:capitalize; cursor:pointer; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none; appearance:none}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {background-color:#444}

textarea {font:normal normal normal 16px/1.5 'MuseoSlab-500',serif; width:100%}

div.field {margin-bottom:1em}

div.field label {display:block}

span.form_error {display:block; color:#f00}


/* FORUMS */

.topics {border-top:1px dotted #333}

.topics li {padding:1em 0 1em; border-bottom:1px dotted #333}

.topics .meta {font-size:75%; margin-top:0.5em}

.topics .meta a {color:#999}

.topic.id .vevent {margin-bottom:1em; padding-bottom:1em; border-bottom:2px solid #003b4f}

.topic.id .vevent dd {margin-bottom:0.5em; color:#ccc}

.topic.id .reply textarea { height: 8em; margin-bottom: 1em; padding: 1em}

.posts li {margin-bottom:2em}

.posts .post_author {overflow:hidden; padding-left:4em}

.posts .post_author a {}

.posts .post_author a img {margin-left:-4em; float:left; width: 3em; height: 3em}

.posts .post_author time {display:block}

.posts .post_content {padding:1em 0; color: #ccc;}


/* PRIVATE MESSAGES */

.messages li {padding-left:4em; margin-bottom:1em; overflow:hidden; padding-top:1em; border-top:1px solid #333}

.messages .avatar {margin-left:-4em; float:left}

.messages .meta {font-size:75%; margin-top:0.5em}

.messages .post_content {color: #ccc;}


/* GIGS */

.calendar h2 {margin:1em 0; padding-top:1em; border-top:1px solid #333}

.vcalendar .vevent {margin-bottom:1em}

.vcalendar .meta {font-size:75%; margin-top:0.5em}

.vcalendar .meta a {color:#999}


/* WIKI */

.edit_history {border-top:1px dotted #333}

.edit_history li {padding:1em 0 1em; border-bottom:1px dotted #333}

.edit_history .meta {font-size:75%; margin-top:0.5em}

.edit_history .meta a {color:#999}

.wiki_text { margin-bottom: 1em; color: #ccc}

.wiki_meta p {font-size:75%; margin-top:0.5em}

.wiki_meta p a {color:#999}


/* USERS */

.archive .year { margin-bottom: 1.5em; overflow: hidden}

.archive .month {float: left; text-align: center; border: 1px solid #333; margin: 0 0.25em 0.25em 0; width: 3.25em}

.archive .month a { display: block; padding: 0.5em 0;}

.archive .month .no_posts { display: block; padding: 0.5em 0}


/* SETTINGS */

.avatar ul#avatars { margin-bottom: 1em;}

.avatar li.field { padding: 1em 0 1em 1em; border-bottom: 1px solid #333}

.avatar li.field input[type="radio"] { margin-right: 1em;}

.avatar li.field img { width: 3em; height: 3em; margin-right: 1em; vertical-align: middle}


